.c-btn {
    font-size: 1rem;
    display: block;
    margin: 0 auto;
    height: 58px;
    line-height: 58px;
    text-align: center;
    border-radius: 12px;

    // 円形
    &::before {
        content: '';
        position: absolute;
        top: 50%;
        right: 27px;
        transform: translateY(-50%);
        width: 30px;
        height: 30px;
        border: 1px solid #fff;
        border-radius: 50%;
    }
    // 右矢印
    &::after {
        content: '';
        position: absolute;
        top: calc(50% - 1px);
        right: 42px;
        transform: rotate(45deg) translateY(-50%);
        width: 6px;
        height: 6px;
        border-width: 1px 1px 0 0;
        border-style: solid;
        // border-color: #fff;
    }

    &--gray {
        background-color: #939597;
        color: $color-main-yellow;
        &::before {
            border-color: $color-main-yellow;
        }
        &::after {
            border-color: $color-main-yellow;
        }
    }
    &--blue {
        background-color: #fff;
        color: $color-main-blue;
        &::before {
            border-color: $color-main-blue;
        }
        &::after {
            border-color: $color-main-blue;
        }
    }
    &--normal {
        background-color: $color-main-blue;
        color: #fff;
    }

}