.c-star {
    position: relative;
    z-index: 0;
    display: inline-block;
    white-space: nowrap;
    color: #CCCCCC; /* グレーカラー 自由に設定化 */
    /*font-size: 30px; フォントサイズ 自由に設定化 */

    &::before , &::after {
        content: '★★★★★';
    }

    &::after {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        overflow: hidden;
        white-space: nowrap;
        color: #e9bf34;
    }
    &[data-rate="5"]:after{ width: 100%; } /* 星5 */
    &[data-rate="4"]:after{ width: 80%; } /* 星4 */
    &[data-rate="3"]:after{ width: 60%; } /* 星3 */
    &[data-rate="2"]:after{ width: 40%; } /* 星2 */
    &[data-rate="1"]:after{ width: 20%; } /* 星1 */
}